body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.rectnguloArriva {
    display: flex;
    background-color: #FFD37C;
    padding: 20px;
    gap: 150px;
    align-items: center;
    width: 100%;
}

.rectnguloGrande {
    width: 215px;
    height: 175px;
    margin-left: 70px;
    background-color: #F9B65B;

}

.lineas .linea {
    width: 800px;
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.lineas .titulox {
    background-color: #f7af4a;
    height: 20px;
    width: 400px;
    margin-bottom: 20px;
}

.lineas .lineaa {
    width: 600px;
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.medio {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px;
    padding: 10px;
}

/* Ajustar el tamaño de los rectángulos */
.rectangulo {
    width: 250px; /* Ocupa todo el espacio disponible dentro de la columna */
    height: 225px;
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Colores base */
.celeste {
    background-color: #80b3f7;
}

.naranja {
    background-color: #F9B65B;
}

.rojo {
    background-color: #d45353;
}

/* Rectángulo superior que ocupa el ancho */
.rectangulo .rectanguloSuperior {
    width: 100%;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Rectángulo interno más oscuro */
.rectangulo .rectanguloInterno {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    
}

/* Colores más oscuros para los rectángulos internos */
.oscuroCeleste  {
    background-color: #6099e4;
}

.oscuroRojo {
    background-color: #aa4141;
}

.oscuroNaranja {
    background-color: #dd9445;
}

.celeste .rectanguloSuperior {
    background-color: #6099e4; /* Mismo color que oscuroCeleste */
}

.naranja .rectanguloSuperior {
    background-color: #dd9445; /* Mismo color que oscuroNaranja */
}

.rojo .rectanguloSuperior {
    background-color: #aa4141; /* Mismo color que oscuroRojo */
}

.piePagina {
    background-color: #E0E0E0;
    padding: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: 230px; 
    margin-left: -40px;
}

.lineaGrisContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineaGris {
    width: 200px;
    height: 25px;
    background-color: #BEBEBE;
    margin-bottom: 10px;
}

.lineasBlancas {
    align-items: center;
}

.lineasBlancas .lineaBlanca {
    background-color: #FFFFFF;
    margin-top: 5px;
}

.lineaBlanca {
    margin: 10px;
}

.ancha {
    width: 200px;
    height: 5px;
}

.d {
    width: 150px;
    height: 5px;
    margin-left: 27px;
}
