body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
:root {
    --color-amarillo: #FFD37C;
    --color-naranja: #F9B65B;
    --color-blanco: #FFFFFF;
    --color-anaranjado-claro: #f7af4a;
    --color-rojo: #d45353;
    --color-celeste: #80b3f7;
    --color-rojo-oscuro: #aa4141;
    --color-celeste-oscuro: #6099e4;
    --color-naranja-oscuro: #dd9445;
    --color-gris: #E0E0E0;
    --color-gris-claro: #BEBEBE;
}


.rectanguloArriva {
    display: flex;
    background-color: var(--color-amarillo);
    padding: 20px;
    gap: 150px;
    align-items: center;
    width: 100%;
}

.rectanguloGrande {
    width: 215px;
    height: 175px;
    margin-left: 80px;
    background-color: var(--color-naranja);
}

.lineas .linea {
    width: 800px;
    height: 10px;
    background-color: var(--color-blanco);
    margin-bottom: 10px;
}

.lineas .titulox {
    background-color: var(--color-anaranjado-claro);
    height: 20px;
    width: 400px;
    margin-bottom: 20px;
}

.lineas .lineaa {
    width: 600px;
    height: 10px;
    background-color: var(--color-blanco);
    margin-bottom: 10px;
}

.medio {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 10px;
}

.rectangulo {
    width: 250px; 
    height: 225px;
    position: relative;
    margin-left: 100px;
}

.celeste {
    background-color: var(--color-celeste);
}

.naranja {
    background-color: var(--color-naranja);
}

.rojo {
    background-color: var(--color-rojo);
}

.rectangulo .rectanguloSuperior {
    width: 100%;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangulo .rectanguloInterno {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.oscuroCeleste {
    background-color: var(--color-celeste-oscuro);
}

.oscuroRojo {
    background-color: var(--color-rojo-oscuro);
}

.oscuroNaranja {
    background-color: var(--color-naranja-oscuro);
}

.celeste .rectanguloSuperior {
    background-color: var(--color-celeste-oscuro); 
}

.naranja .rectanguloSuperior {
    background-color: var(--color-naranja-oscuro); 
}

.rojo .rectanguloSuperior {
    background-color: var(--color-rojo-oscuro); 
}

.abajii {
    margin-bottom: 20px;  
}

.arrivii {
    margin-top: 20px;
}

.piePagina {
    background-color: var(--color-gris);
    padding: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: 230px; 
    margin-left: -40px;
}

.lineaGrisContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineaGris {
    width: 200px;
    height: 25px;
    background-color: var(--color-gris-claro);
    margin-bottom: 10px;
}

.lineasBlancas {
    align-items: center;
}

.lineasBlancas .lineaBlanca {
    background-color: var(--color-blanco);
    margin-top: 5px;
}

.lineaBlanca {
    margin: 10px;
}

.ancha {
    width: 200px;
    height: 5px;
}

.d {
    width: 150px;
    height: 5px;
    margin-left: 27px;
}
