
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.rectanguloArriva {
    display: flex;
    background-color: #FFD37C;
    padding: 20px;
    gap: 150px;
    align-items: center;
    width: 100%;
}

.rectanguloGrande {
    width: 225px;
    height: 175px;
    margin-left: 50px;
    background-color: #F9B65B;
}

.lineas .linea {
    width: 800px;
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.lineas .titulox{
    background-color: #F9B65B ;
    height: 20px;
    width: 400px;
    margin-bottom: 20px;
}

.lineas .lineaa {
    width: 600px; 
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}


.medio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.rectangulo {
    width: 250px;
    height: 250px;
    position: relative;
    justify-content: center;
    margin: +40px;
    margin-left: 20%;
}

.celeste {
    background-color: #458ae4;
}

.naranja{
    background-color: #F9B65B;
}

.rojo {
    background-color: #f11f1f;
}
.piePagina {
    background-color: #E0E0E0;
    padding: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: 230px; 
    margin-left: -40px;
}

.lineaGrisContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineaGris {
    width: 200px; 
    height: 25px;
    background-color: #BEBEBE;
    margin-bottom: 10px;
}

.lineasBlancas {
    align-items: center;
}

.lineasBlancas .lineaBlanca {
    background-color: #FFFFFF;
    margin-top: 5px;
}

.lineaBlanca {
    margin: 10px;
}

.ancha {
    width: 200px; 
    height: 5px;
}

.delgada {
    width: 150px;
    height: 5px;
    margin-left: 30px;
}
